.blog-container h1 {
    font-size: 3rem; /* Adjust the size as needed */
    text-align: center;
    margin-bottom: 20px;
    color: #393939 ; /* Adjust color if needed */
  }
.blog-container {
    text-align: center;
    padding: 20px;
  }
  
  .articles-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 20px;
    padding: 20px;
  }
  
  .article-card {
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
  }
  
  .article-card:hover {
    transform: scale(1.05);
  }
  
  .article-card img {
    width: 100%;
    border-radius: 8px;
  }
  
  .article-card h2 {
    font-size: 1.5rem;
    margin: 10px 0;
  }
  
  .article-card p {
    color: #555;
  }
  
  .article-card a {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 12px;
    background: #ff6b81;
    color: white;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .article-card a:hover {
    background: #ff4757;
  }

  .see-all-btn-container {
    text-align: center;
    margin-top: 30px; /* Adjust as needed */
  }
  
  .see-all-btn {
    background-color: black;
    color: white;
    border: none;
    padding: 12px 50px;  /* Increase padding for a longer button */
    font-size: 1.1rem;    /* Adjust font size if needed */
    cursor: pointer;
    border-radius: 25px;  /* Rounded corners */
    transition: background-color 0.3s ease;
  }
  
  .see-all-btn:hover {
    background-color: #333;
  }
  
  